<!DOCTYPE html>
<html>
<head>
	<title>Template v2</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Candal" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Bevan|Candal" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bevan|Candal|Mitr" rel="stylesheet">
</head>
<body>
	<div>		
		<table width="660" border="0" cellpadding="0" cellspacing="0" align="center" id="m_6047521310873443168container">
			<thead style="background-color: #212c43;text-align: center;">
				
				<tr>
					<td style="padding: 15px;"> <span style="font-family: 'Candal', sans-serif;text-align:center;color: #fff;font-size:19px;">Você está procurando um desenvolvedor ?</span></td>
				</tr>
				<tr>
					<td style="padding-bottom: 15px;"><span style="font-family: 'Bevan', cursive;text-align:center;color: #eab926;font-size: 30px;">SEUS PROBLEMAS ACABARAM !</span></td>
				</tr>

			</thead>
			<tbody align="center">
				<tr>
					<td style="padding: 15px;"> <span style="font-family: 'Candal', sans-serif;color: #212c43;font-size:30px;">Guilherme Reinheimer</span> </td>
				</tr>
				<tr><td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;"> Linguagens: Java, JavaScript, C e PHP;</td></tr>
				<tr><td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;"> Conhecimentos Front-End: HTML5, CSS3;</td></tr>
				<tr><td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;"> Banco de Dados: SQL; </td></tr>
				<tr><td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;"> Sistemas Operacionais: Linux;</td></tr>
				<tr><td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;"> DevOps: Git e Docker;</td></tr>
				<tr><td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;"> Plataformas: Magento, Wordpress;</td></tr>
				<tr><td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;"> Pacote Office completo: Nível Intermediário;</td></tr>
				<tr><td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;"> Idiomas: Inglês (Nível básico) e Espanhol (Nível básico).</td></tr>
				<tr><td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;padding-bottom: 15px;"> Editores de imagem: Photoshop, Fireworks e Gimp;</td></tr>


				<tr>
					<td style="width: 100%; height: 3px; background-color: black;"></td>
				</tr>
				
				<tr><td style="padding: 15px;"> <span style="font-family: 'Candal', sans-serif;color: #212c43;font-size:30px;">Experiências</span></td></tr>
				<tr>
					<td style="font-family: 'Mitr', sans-serif;padding-bottom: 15px;font-size: 20px;">Estágio desenvolvedor na Fastcompras agência de E-commerce: Maio de 2017 até atualmente, atuação em: Desenvolvimento com PHP e JavaScript em lojas virtuais e sites Wordpress; Adiministração de banco de dados MySQL; Gerênciamento de servidores Linux.</td>
				</tr>
				<tr><td style="width: 100%; height: 3px; background-color: black;"></td></tr>
			</tbody>
			<tfoot style="background-color: #ececec">
				<tr>
					<td style="padding: 15px;text-align: center;"> <span style="font-family: 'Candal', sans-serif;color: #212c43;font-size:30px;">Contato</span> </td>
				</tr>
				<tr>
					<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:660px;background-color: #ececec;text-align: center;">
							<tr>
								<td><a style="font-family: 'Candal', sans-serif; text-decoration: none; font-size: 17px;" href="https://github.com/albertrein" target="_blank">GITHUB</a></td>
								<td><a style="font-family: 'Candal', sans-serif; text-decoration: none; font-size: 17px;" href="email:guilhermealberto8@gmail.com">guilhermealberto8@gmail.com</a></td>
								<td><a style="font-family: 'Candal', sans-serif; text-decoration: none; font-size: 17px;" href="https://drive.google.com/file/d/0ByR7LgeCRaaWVU1lX2VFLXFnUlNOYXFPaVBDUFBldDRkRmtv/view?usp=sharing" target="_blank">Baixar Currículo</a></td>
							</tr>
					</table>
				</tr>
			</tfoot>

		</table>
	</div>
	<!-- <img src="media/eu.png" style="border-radius: 51%;width: 150px;display: block;margin-left: auto;margin-right: auto;padding: 15px;width: 24%;"> --> 
</body>
</html>